<h1>Create a new Account</h1>
<%=
  form_for :account, Admin.routes.accounts_path do
    div class: 'input' do
      label 'Account Name', for: :name
      text_field :name
    end

    fieldset do
      legend "User"
      fields_for :user do
        div class: 'input' do
          label :name
          text_field :name
        end

        div class: 'input' do
          label :email
          text_field :email
        end

        div class: 'input' do
          label :password
          text_field :password
        end
      end
    end

    submit 'Submit'
  end
%>
