<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= favicon %>
  </head>
  <body>
    <%= render partial: 'shared/navigation' %>
    <%= render partial: 'shared/form_errors' %>
    <%= yield %>
  </body>
</html>
